/*-------------------------------------*//* Global styles */
* {
    box-sizing: border-box;
}
  
body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
    color: var(--colour1);
}
  
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
  
p {
    margin: 0;
}

/*-------------------------------------*/
/* general */
/* colours */
:root {
    --colour1: #5A554E;
    --colour2: #EBE9E4;
    --colour3: #8a6961;
    --colour4: #6f544e;
}

/* All buttons */
.btn-primary {
    background-color: var(--colour3);
    border: var(--colour3);
    border-radius: 0;
    margin-left: 30px;
    position: relative;
    bottom: -180px;
    --bs-btn-active-color: var(--colour3) !important;
    --bs-btn-active-bg: var(--colour2);
    --bs-btn-active-border-color: var(--colour2);
}

.btn-primary:hover, .btn-primary:active {
    background: var(--colour4);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

button a {
    color: var(--colour2);
    text-decoration: none;
}

button a:active {
    color: var(--colour3);
}

/*-------------------------------------*/
/* header */
/* Nav bar */
.customNav {
    padding: 0;
    background: var(--colour2) !important;
}

.navContain {
    padding: 0;
}

/* Portfolio header */
.navbar-brand {
    background: var(--colour3);
    color: var(--colour2);
    font-size: 30px;
    font-weight: bold;
    padding: 2px 10px 2px 30px;
    margin: 10px 0px;
}

.navbar-brand:hover {
    background: var(--colour4) !important;
    color: var(--colour2);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

/* menu */
.navbar-nav { 
    margin: 0 10px;
}

.nav-item {
    margin: 5px;
}

nav a {
    font-weight: bolder !important;
}

nav a:hover,
.dropdown-item a:hover {
    background: var(--colour3) !important;
    color: var(--colour2) !important;
    border-radius: 0 !important;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background: var(--colour3) !important;
    color: var(--colour2) !important;
    font-weight: bolder !important;
    border-radius: 0;
}

.navbar-collapse {
    flex-grow: 0;
}

.dropdown-menu {
    --bs-dropdown-bg: var(--colour2);
    border-radius: 0 !important;
}

.navbar-toggler {
    margin-right: 30px;
    border-radius: 0;
}
/*-------------------------------------*/
/* hero */
/* hero banner */
.p-5{
    padding: 0 !important;
}

/* hero image */
.py-5 {
    background-image: url(../images/02-hero-bg.jpg);
    background-size: cover;
    background-position: right;
    height: 40vh;
    min-height: 500px;
}

/* hero text 'Minhui Liu' */
.py-5 h1{
    color: var(--colour2);
    font-size: 30px;
    margin-left: 30px;
    position: relative;
    bottom: -180px;
}

/* hero text 'font end developer' */
.py-5 p {
    color: var(--colour2);
    margin-left: 30px;
    position: relative;
    bottom: -180px;
}

/*-------------------------------------*/
/* Main content section */
/* general */
.allContent {
    width: 95%;
}

.secTitleContain {
    text-align: right;
    padding-right: 50px;
}

.section-block {
    border-left: solid var(--colour1);
    margin: 20px 0px 20px 0px;
}

.card {
    padding: 10px;
    border: none;
}

/* Add scroll margin to avoid header covering part of the section, reference link in README */
#work, #skills, #about-contact, #horiseon, #prework, #mini, #demo, #portfolio {
    scroll-margin-top: 5rem;
} 

/* Work section */
.card-img {
    border-radius: 0px;
    filter: brightness(50%);
    border-bottom: solid 5px var(--colour1);
    transition: all 0.5s ease-out;
}

/* when image link is hovered, change property for img element */
.img-link:hover {
    .card-img {
        filter: none;
    }
}

.card-img-overlay {
    padding: 10px;
}

.subheading {
    background: var(--colour3);
    display: inline-block;
    padding: 10px;
    position: absolute;
    bottom: 30px;
    color: var(--colour2);
}

/* About/contact section */
.nav-fill .nav-item {
    text-align: left;
    flex: none;
}

.nav-underline {
    justify-content: space-between;
}

.nav-underline>.nav-item>a {
    color: var(--colour1) !important;
}

/*-------------------------------------*/
/* footer */
footer {
    text-align: center;
    background: var(--colour1);
    color: var(--colour2);
    height: auto;
    padding: 10px;
}

footer .card {
    background: none;
    color: var(--colour2);
}

/* card 1 button */
footer .btn {
    position: relative;
    top: 20px;
    margin: 0px;
}

/* card 2 list group items */
footer .list-group-item {
    background: none;
    border: none;
}

footer .list-group-item a {
    text-decoration: none;
    color: var(--colour2);
}

footer .list-group-item a:hover {
    border-bottom: solid var(--colour2) 2px;
}

/*-------------------------------------*/
/* media queries */
@media only screen and (max-width: 860px) {
    /* nav bar */
    .nav-link {
        padding: 5px;
        display: inline-block;
    }

    /* hero */
    .py-5 h1{
        text-align: right;
        margin-right: 30px;
        position: relative;
        bottom: 10px;
        float: right;
    }

    .py-5 p {
        text-align: right;
        float: right;
        margin-right: 30px;
        margin-left: 0px;
        position: relative;
        bottom: -20px;
        right: -200px;
    }

    .btn-primary {
        display: none;
    }
}

@media only screen and (max-width: 992px) {
    .secTitleContain {
        text-align: center;
        border-bottom: solid var(--colour1);
        width: 90%;
    }

    .section-block {
        border-left: none;
    }

    footer .btn {
        display:inline-block;
    }
}